
:root {
  --primary: #4a90e2;     /* Azul */
  --secondary: #f5a623;   /* Naranja */
  --accent: #616161;      /* Gris */
  --text: #222;
  --bg: #f7f9fc;
}

/* Estilos globales opcionales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: center;
}

header {
  padding: 10px;
  width: 100vw;
  text-align: center;
  background-color: var(--primary);
  color: white;
}

footer {
  padding: 10px;
  text-align: center;
  background: var(--secondary);
  color: white;
}

.contact-card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-left: 6px solid var(--accent);
}
.botones-card{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 5px;
}

.agregar{
  color: rgb(80, 80, 80);
  background-color: #eeeff1;
  border-radius: 8px;
  padding: 4px 14px;
  font-size: 15px;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
  line-height: 1;           /* reduce la altura interna */
             
}
.agregar:hover{
  transform: scale(1.1);
}
button.eliminar {
  color: white;
  background-color: #d38d8d;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(2, 2, 0, 0.1);
  border: none;
  cursor: pointer;
}
.eliminar:hover{
  transform: scale(1.1);
  background-color: #d13c3c;
}

button.favorito {
  color: black;
  background-color: #fae29f;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(2, 2, 0, 0.1);
  border: none;
  cursor: pointer;
}
.favorito:hover{
  transform: scale(1.1);
  background-color: #f7c948;
}

.info-contactos{
  background-color: #85b9f3;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 0 0 30px 30px;

}
.contenedor-limpiar{
  display: flex;
  justify-content: end;
  margin-right: 30px;
}

.limpiar{
  color: white;
  background-color: var(--accent);
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(4, 4, 2, 0.3);
  border: none;
  cursor: pointer;
  margin: 20px;  
}

/* Ajuste en pantallas pequeñas */
@media (max-width: 600px) {
  header h1 {
    font-size: 24px;
  }

  .contact-card {
    width: 80%;
    padding: 16px;
  }
  .info-contactos{
    font-size: 12px;
  }
  .agregar{
    padding:4px 8px;
    font-size: 12px;
    line-height: 1;
  }

  footer {
    font-size: 14px;
  }
}